aiofiles==24.1.0
Babel==2.16.0
fastapi==0.115.0
Jinja2==3.1.4
jose==1.0.0
passlib==1.7.4
pendulum==3.0.0
pydantic==2.9.2
pytest==8.3.2
python-dotenv==1.0.1
python_bcrypt==0.3.2
redis==5.0.8
SQLAlchemy==2.0.31
SQLModel==0.0.22
starlette==0.38.5
tortoise==0.1.1
uvicorn==0.30.6
